button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--body-txt);
  font-size: 1.5rem;
  line-height: 0.8;
  outline: 0;
  color: var(--body-txt);
  padding: 0.5rem;
  /* border-radius: 6px; */
  /* transition: background 400ms; */
  /* box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); */
}

button:disabled,
button:disabled:hover {
  cursor: not-allowed;
  background-color: var(--disabled);
  border-color: var(--disabled);
}

button:hover {
  background: var(--body-txt);
}

button:hover svg {
  fill: white;
}

button:disabled:hover svg {
  fill: black;
}

button svg {
  height: .8rem;
}

.play,
.pause {
  width: 80%;
}

.stop {
  width: 20%;
}