button {
  cursor: pointer;
  background-color: var(--elm-bg);;
  border: 1px solid var(--elm-border);
  font-size: 1.5rem;
  line-height: 0.8;
  outline: 0;
  color: var(--body-txt);
  padding: 0.5rem;
}

button:disabled,
button:disabled:hover {
  cursor: not-allowed;
  background-color: var(--disabled);
  border-color: var(--disabled);
}

button:hover {
  background: var(--body-txt);
}

button:hover svg {
  fill: var(--elm-bg);;
}

button:disabled:hover svg {
  fill: black;
}

button svg {
  height: .8rem;
}

.play,
.pause {
  width: 80%;
}

.stop {
  width: 20%;
}