:root {
  --body-txt: #343a40;
  /* --items-dark: #495057; */
  /* --items-light: #6c757d; */
  /* --items-lighter: #adb5bd; */
  /* --validation-error: #e56b6f; */
  --validation: #ff7900;
  /* --validation-success: #6a994e; */
  --elapsed-time: #90e0ef;
}

body {
  color: var(--body-txt);
}

header {
  text-align: center;
}

h1 {
  margin-top: 0;
}

.content-wrapper {
  max-width: 360px;
  padding: 2rem 6rem;
  margin: 2rem auto;
  /* border-radius: 4px; */
  /* box-shadow: inset 0 0 5px var(--items-lighter); */
}

.counter {
  padding: 1rem 0;
  text-align: center;
}

.counter input,
.timeout {
  border: 1px solid var(--body-txt);
  /* box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); */
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: bold;
  height: 43px;
  outline: 0;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.display-time {
  background-color: white;
  /* border-radius: 4px 4px 0 0; */
  border: 1px solid var(--body-txt);
  display: flex;
  flex-direction: column-reverse;
  height: 300px;
  width: 100%;
}

.time-elapsed {
  background-color: var(--elapsed-time);
  /* border-radius: 4px 4px 0 0; */
  /* transition: height 0.3s linear; */
}

.controls {
  display: flex;
  gap: 1rem;
  padding: 0.3rem 0;
}

.validation-message {
  /* color: var(--validation-success); */
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.5rem;
  display: block;
}

.validation-message.warning {
  color: var(--validation);
}

@media (max-width: 600px) {
  .content-wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    height: 100vh;
    width: 100vw;
    max-width: none;
  }
}