:root {
	--body-txt: #343a40;
	--body-bg: #e9ecef;
	--elm-bg: #fff;
	--elm-border: #d9d9d9;
	--disabled: #d3d3d3;
	--validation: #ff7900;
	--elapsed-time: #90e0ef;

	/* dark */
	/* --body-txt: #d3d3d3;
	--body-bg: #161616;
	--elm-bg: #333333;
	--elm-border: transparent;
	--disabled: #333;
	--validation: #ff7900;
	--elapsed-time: #66abff; */
}

body {
	color: var(--body-txt);
	background-color: var(--body-bg);
}

header {
	text-align: center;
}

h1 {
	margin-top: 0;
}

.content-wrapper {
	max-width: 360px;
	padding: 2rem 6rem;
	margin: 2rem auto;
}

.counter {
	padding: 1rem 0;
	text-align: center;
}

.display-time {
	background-color: var(--elm-bg);
	/* border-radius: 4px 4px 0 0; */
	border: 1px solid var(--elm-border);
	display: flex;
	flex-direction: column-reverse;
	height: 300px;
	width: 100%;
}

.time-elapsed {
	background-color: var(--elapsed-time);
	height: 100%;
	transform-origin: bottom;
	transform: scaleY(0);
}

@media (max-width: 600px) {
	.content-wrapper {
		box-sizing: border-box;
		margin: 0;
		padding: 1rem;
		height: 100vh;
		width: 100vw;
		max-width: none;
	}
}
